.App {
  text-align: center;
}

/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.section-container {
  background-color: rgba(255, 255, 255, 0.096);
  /* Background color with opacity */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-box {
  margin-bottom: 20px;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.search-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: rgb(68, 94, 115);
  color: #fff;
  cursor: pointer;
}

.icon-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  background-image: url('./File/unnamed.gif');
  background-position-x: left;
  color: white;
  text-shadow: 0 0 3px rgb(60, 2, 194), 0 0 5px #000000;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.bg-image {
  border-radius: 35px;
  overflow: hidden;
}

.card-img {
  margin-top: 10px;
  background-color: white;
  background-position: bottom;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.weather-card {
  text-align: center;
  /* margin-top: 10px; */
}

.location-name {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.temperature {
  font-size: 2em;
  margin: 10px 0;
}

.feels-like {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.weather-type {
  font-size: 1.2em;
}

.git-click {
  /* position: relative;  */
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  transition: .5s;
}

.git-click::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: white;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.git-click:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px white;
  color: white;
}

.git-click:hover {
  color: white;
  box-shadow: 0 0 5px white;
  text-shadow: 0 0 5px white;
}


.ul_git {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 8%;
  left: 95%;
  transform: translate(-50%, -50%);
}

.li_git {
  list-style: none;
  margin: 0 15px;
}

.size_git {
  margin-top: 10px;
  font-size: 40px;
  cursor: pointer;
}

.git-click :link :hover {
  color: white;
  text-decoration: none;
}

a.git-click:hover {
  color: white;
  text-decoration: none;
}